:root{
    --black: #000000;
    --red: #FF0000;
    --blue: #0000FF;
    --white: #FFFFFF;
}

h1{
    text-align: center;
    margin-top: 50px;
    text-transform: uppercase;
}

.obrigatorio{
    color: var(--red);
}

#form{
    opacity: 0.9;
    padding: 15px;
    margin-top: 10%;
    margin-left: 18%;
    margin-right: 18%;
    text-align: center;
    border-radius: 10px;
    background-color: var(--white);
    box-shadow: 0px 2px 5px 1px var(--black);
}

label{
    font-size: 12pt;
    font-weight: bold;
    text-transform: uppercase;
}

input{
    width: 50%;
    height: 20px;
}

label, input, textarea{
    margin-top: 10px;
    margin-left: 5px;
    border-radius: 5px;
}

select{
    width: 50%;
    height: 30px;
    margin-top: 20px;
    margin-left: 10px;
    text-align: center; 
}

#msg{
    margin-top: 20px;
}

button{
    border: 0px;
    margin: 20px;
    width: 150px;
    padding: 10px;
    padding: 10px;
    font-size: 12pt;
    cursor: pointer;
    font-weight: bold;
    color: var(--white);
    border-radius: 10px;
    text-transform: uppercase;
    background-color: var(--blue);
}

button:hover{
    color: var(--red);
    background-color: var(--black);
}