:root{
    --black: #000000;
    --white: #E6E6E6;
    --orange: #FF8000;
    --red: #FF0000;
}

body{
    background-image: url('../image/back-main-img.jpg');
}


h1{
    color: var(--orange);
}

.paragrafo_contato{
    font-size: 16pt;
    font-weight: bold;
}

#main{
    opacity: 0.9;
    padding: 10px;
    margin-top: 12%;
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
    border-radius: 10px;
    background-color: var(--white);
    box-shadow: 0px 2px 5px 1px var(--black);
}